@import "../../styles/abstracts/functions";
@import "../../styles/abstracts/mixins";
@import "../../styles/abstracts/variables";

.status-pill {
  padding: 7px 12px;
  @include border-radius(100px);
  font-size: toRem(14px);
  font-weight: 400;
  width: fit-content;
  &[data-status="inactive"] {
    color: $col-grey-1;
    background-color: rgba(84, 95, 125, 0.06);
  }
  &[data-status="pending"] {
    color: $col-yellow;
    background-color: rgba(233, 178, 0, 0.1);
  }
  &[data-status="blacklisted"] {
    color: rgba(228, 3, 59, 1);
    background-color: rgba(228, 3, 59, 0.1);
  }
  &[data-status="active"] {
    color: rgba(57, 205, 98, 1);
    background-color: rgba(57, 205, 98, 0.06);
  }
}
