// AvenirNext Font
@font-face {
  font-family: "AvenirNext";
  src: local("AvenirNextCyr Ultra Light"), local("AvenirNextCyr-UltraLight"),
    url("../../public/fonts/AvenirNextCyr-UltraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AvenirNext";
  src: local("AvenirNextCyr Ultra Light Italic"),
    local("AvenirNextCyr-UltraLightItalic"),
    url("../../public/fonts/AvenirNextCyr-UltraLightIt.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "AvenirNext";
  src: local("AvenirNextCyr Light"), local("AvenirNextCyr-Light"),
    url("../../public/fonts/AvenirNextCyr-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AvenirNext";
  src: local("AvenirNextCyr Light Italic"), local("AvenirNextCyr-LightItalic"),
    url("../../public/fonts/AvenirNextCyr-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "AvenirNext";
  src: local("AvenirNextCyr Regular"), local("AvenirNextCyr-Regular"),
    url("../../public/fonts/AvenirNextCyr-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AvenirNext";
  src: local("AvenirNextCyr Italic"), local("AvenirNextCyr-Italic"),
    url("../../public/fonts/AvenirNextCyr-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "AvenirNext";
  src: local("AvenirNextCyr Medium"), local("AvenirNextCyr-Medium"),
    url("../../public/fonts/AvenirNextCyr-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AvenirNext";
  src: local("AvenirNextCyr Medium Italic"), local("AvenirNextCyr-MediumItalic"),
    url("../../public/fonts/AvenirNextCyr-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "AvenirNext";
  src: local("AvenirNextCyr Semi Bold"), local("AvenirNextCyr-SemiBold"),
    url("../../public/fonts/AvenirNextCyr-Demi.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AvenirNext";
  src: local("AvenirNextCyr Semi Bold Italic"),
    local("AvenirNextCyr-SemiBoldItalic"),
    url("../../public/fonts/AvenirNextCyr-DemiItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "AvenirNext";
  src: local("AvenirNextCyr Bold Italic"), local("AvenirNextCyr-Bold"),
    url("../../public/fonts/AvenirNextCyr-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AvenirNext";
  src: local("AvenirNextCyr Bold Italic"), local("AvenirNextCyr-BoldItalic"),
    url("../../public/fonts/AvenirNextCyr-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "AvenirNext";
  src: local("AvenirNextCyr Extra Bold"), local("AvenirNextCyr-Heavy"),
    url("../../public/fonts/AvenirNextCyr-Heavy.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AvenirNext";
  src: local("AvenirNextCyr Extra Bold Italic"),
    local("AvenirNextCyr-HeavyItalic"),
    url("../../public/fonts/AvenirNextCyr-HeavyItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}
